# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\module4\11\thuchanh_1_Customer_manage_using_RESTful\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
